.container {
  margin: 25px auto;
  width: 60%;
  padding: 2.5rem;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.56);
  -webkit-box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.56);
  -moz-box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.56);
  border-radius: 20px;
}

h1 {
  padding-bottom: 30px;
  border-bottom: 2px solid rgb(173, 173, 173);
}
