div.container {
  display: grid;
  margin: 50px 50px 50px;
  padding: 10px;
}

div.article {
  margin-top: 10px;
  border-bottom: 3px solid black;
}

div.container__bottom {
  display: inline;
}

button {
  margin-top: 50px;
  background-color: #a149fa;
  color: white;
  border: none;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  border-radius: 12px;
  width: 100%;
}
